#main {
  height: 100vh;
  width: 100%;
  background-color: rgb(203, 231, 241);
  position: relative;
  scroll-behavior: unset;
  position: fixed;
}
.heading {
  display: flex;
  color: rgb(15, 154, 178);
  font-size: 50px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 20px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  color: rgb(160, 159, 159);
  border: 2px solid rgb(220, 219, 219);
  border-radius: 20px;
  width: 530px;
  height: fit-content;
  margin-left: 360px;
  padding: 20px;
  background-color: white;
  box-shadow: 18px 18px 29px #b2b7b6;
}

#username {
  margin: 20px;
  width: 300px;
  height: 40px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 2px 7px 10px rgb(201, 201, 202);
}
#password {
  margin: 20px;
  width: 300px;
  height: 40px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 2px 7px 10px rgb(201, 201, 202);
}

.btn {
  background-color: rgb(29, 177, 232);
  color: rgb(255, 248, 248);
  width: 100px;
  height: 40px;
  border: 1px solid rgb(192, 191, 191);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}
label {
  color: rgb(191, 188, 188);
}
#logged {
  background-color: white;
  border: 1px solid #8fcdd7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 280px;
  width: 470px;
  position: absolute;
  left: 460px;
  top: 160px;
}
